#!/bin/bash
# managed by ansible
{% if ipproto == 'ipv4' %}
{% set netlist = networks.split(',') | ipv4 %}
{% endif %}
{% if ipproto == 'ipv6' %}
{% set netlist = networks.split(',') | ipv6 %}
{% endif %}

set -e

export PATH="$PATH:/srv/knetansible/build/kronosnet/libknet/tests"

knet_bench_test{% if knet_crypto_hash is defined %} -c {{ knet_crypto_model }}:{{ knet_crypto_cipher }}:{{ knet_crypto_hash }}{% endif %}{% for node in groups['test-nodes'] %}{% if node == inventory_hostname %} -t {{ loop.index }}{% endif %}{% endfor %}{% for node in groups['test-nodes'] %} -n {{ loop.index }},{% for network in netlist %}{% if ipproto == 'ipv4' %}{% set v4list = hostvars[node].ansible_all_ipv4_addresses | ipaddr( network ) %}{% for v4 in v4list -%}{{ v4 }}{% endfor %}{% else %}{% set v6list = hostvars[node].ansible_all_ipv6_addresses | ipaddr( network ) %}{% for v6 in v6list -%}{{ v6 }}{% endfor %}{% endif %}{% if not loop.last %},{% endif %}{% endfor %}{% endfor %} -T {{ test_type }} -P {% filter upper %}{{ knet_transport }}{% endfilter %} -p {{ knet_link_mode }} -s 1 -a > /srv/knetansible/testresults/kronosnet/{{ test_output }}.knet_bench 2>&1
